<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profil Pro de Mériadec Legal</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/annee-etudes.css" />

    <link rel="icon" type="image/png" href="/images/logoNeonD.png" />
  </head>
  <body onload="loadcookies()">
    <div class="year-container year-title-container" style="margin: 1rem 3rem">
      <a href="/#pro" class="backButton" id="backButton">Retour</a>

      <h1>Mon profil professionnel</h1>
      <p class="desc" style="text-align: left">
        J'ai eu l'occasion de travailler avec des professionnels au cours de mes
        études. En effet, j'ai pu échanger avec des vacataires et les
        intervenants à l'IUT sur le monde du travail et les pratiques
        professionnelles. J'ai également eu l'occasion de travailler avec des
        développeurs chez HelloAsso, une association qui offre un service de
        checkout gratuit aux associations. J'ai pu travailler avec eux pour
        intégrer leur API lors du développement du site du BDE du département
        informatique de l'IUT de Laval. Je vais également faire un stage en
        développement web full-stack et mobile chez Akelio, une entreprise basée
        au Mans. J'y serai durant 3 mois à compter de fin avril.
      </p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
