<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profil Pro de Mériadec Legal</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/annee-etudes.css" />

    <link rel="icon" type="image/png" href="/images/logoNeonD.png" />
  </head>
  <body onload="loadcookies()">
    <div class="year-container year-title-container" style="margin: 1rem 3rem">
      <a href="/#pro" class="backButton" id="backButton">Retour</a>

      <h1>Mon profil professionnel</h1>
      <div style="text-align: left">
        <p class="desc" style="text-align: left">
          J'ai eu l'occasion de travailler avec des professionnels au cours de
          mes études. En effet, j'ai pu échanger avec des <em>vacataires</em> et
          les <em>intervenants</em> à l'IUT sur le monde du travail et les
          pratiques professionnelles. J'ai également eu l'occasion de travailler
          avec des développeurs chez <em>HelloAsso</em>, une association qui
          offre un service de paiement gratuit aux associations. J'ai pu
          travailler avec eux pour intégrer leur <em>API</em> lors du
          développement du site du BDE du département informatique de l'IUT de
          Laval. Je vais également faire un
          <em>stage en développement web full-stack et mobile chez Akelio</em>,
          une entreprise basée au Mans. J'y serai durant 3 mois à compter de fin
          avril.
        </p>
        <p>
          Durant mes deux années d'études à Laval, j'ai eu quelques cours où
          j'ai pu réfléchir à mon profil personnel et professionnel. J'y ai
          appris que je suis attiré vers les <em>métiers créatifs</em>. En
          effet, j'ai envie de devenir développeur web full-stack, ce qui
          implique faire de la création d'interfaces. De plus, ma passion pour
          la photo et la vidéo confirme cette découverte. J'ai également pu
          échanger avec un professionnel chez <em>HelloAsso</em>, ce qui m'a
          permis de mieux comprendre le monde du travail en entreprise
          informatique.
        </p>
        <p>
          Mon pojet principal était d'intéger <em>ETS</em>, une école
          d'ingénieur à Montréal. Seulement, après avoir été accepté, lors de
          mon inscription, je me suis rendu compte que leur programme intégrait
          beaucoup trop d'ingénieurie et trop peu d'informatique à mon goût.
          J'ai donc pris la décision de ne pas y aller et de
          <em>continuer mes études en France</em> à Laval.
          <br />
          Je suis donc mon projet secondaire qui était de faire ma 3e année de
          BUT informatique à Laval, en alternance si possible, puis de m'insérer
          dans le monde proffessionnel après l'obtention de mon diplôme en
          <em>2025</em>.
        </p>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
